<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inquiry.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inquiry.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inquiry.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inquiry.quantity %>
</p>

<%= link_to 'Back', products_path %>
